html {
  background-color: #f2f2f2;
  color: #595959;
  font-family: 'Space Mono', monospace;
}

.wrapper {
  margin: 1em;
}

h1 {
 /* text-align: center;*/
  font-weight: 400;
  margin: 0.5em;
  color: #ff5c33;
  clear: none;
  display: inline;
}

/*Navigation Bar*/
li {
  list-style: none;
  margin: 0.25em;
  display: inline;
}

a {
    text-decoration: none;
    color: #ff704d;
    transition: 0.6s ease;
    display: inline;
    padding: 0.5em 0.75em 0.5em 0.75em;
    border-radius: 3px;

}

a:hover {
  background-color: #ff704d;
  color: #f2f2f2;
  box-shadow: inset 0px 0px 4px #cc2900;
}

ul {
  padding-left: 0;
 /* text-align: center;*/
 display: inline;
}

nav {
  display: inline;
  text-align: right;
  float: right;
  margin-top: 1em;

}
/*Navigation Bar End*/


img {
  max-width: 200px;
  margin: 10px;
  transition: 2s ease;
}

/*vomit/gallery*/

.gallery {
  max-width: 700px;
  margin: auto;
  margin-top: 2em;
  text-align: center;
  fill: #000;
}

.galleryitem:hover {
    -ms-transform: rotate(4deg); /* IE 9 */
    -webkit-transform: rotate(4deg); /* Chrome, Safari, Opera */
    transform: rotate(4deg);
}

.center {
  text-align: center;
}


.circle {
  transition: 0.4s ease;
}

.circle:hover {
  box-shadow: 0px 0px 4px #000;
  fill: #f2f2f2;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, .5);
  transition: all 500ms ease-in-out;
  position: relative;
}

.polaroid:nth-child(1) {
  z-index: 2;
  transform: rotate(0deg);
  top: 50px;
  left: 5px;
}

.polaroid:nth-child(2) {
  z-index: 3;
  top: 80px;
  left: 600px;
  transform: rotate(0deg);
}

.polaroid:nth-child(3) {
  transform: rotate(0deg);
  z-index: 4;
  left: 690px;
  top: 0px;
}

.polaroid:hover {
  transform: rotate(0deg);
  z-index: 1000;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, .3);

}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  position: absolute;
  left: 33%;
  bottom: 20px;
}

.box {
  fill: green;
}

.box:hover {
  fill: limegreen;
}
