html {
  background-color: #fff;
  color: #f2f2f2;
  font-family: 'Space Mono', monospace;
  background-color: #0d0d0d;
}

.wrapper {
  margin: 1em;
}

h1 {
 /* text-align: center;*/
  font-weight: 400;
  margin: 0.5em;
  color: #80ffbf;
  clear: none;
  display: inline;
}

/*Navigation Bar*/
li {
  list-style: none;
  margin: 0.25em;
  display: inline;
  padding: 0 0.5em 0 0.5em;
}

a {
    text-decoration: none;
    color: #f2f2f2;
    transition: 0.8s ease;
    display: inline;
}

a:hover {
  color: #80ffbf;
}

ul {
  padding-left: 0;
 /* text-align: center;*/
 display: inline;
}

nav {
  display: inline;
  text-align: right;
  float: right;
  margin-top: 1em;

}
/*Navigation Bar End*/


img {
  max-width: 200px;
  margin: 10px;
  transition: 2s ease;
}

/*vomit/gallery*/

.gallery {
  max-width: 700px;
  margin: auto;
  margin-top: 2em;
  text-align: center;
}

.galleryitem:hover {
    -ms-transform: rotate(4deg); /* IE 9 */
    -webkit-transform: rotate(4deg); /* Chrome, Safari, Opera */
    transform: rotate(4deg);
}

.center {
  text-align: center;
}


