html {

/*background-color: #f2f2f2;*/
color: #595959;
font-family: 'Space Mono', monospace;

background: linear-gradient(156deg, #ffffff, #799ceb);
background-size: 400% 400%;

-webkit-animation: AnimationName 22s ease infinite;
-moz-animation: AnimationName 22s ease infinite;
-o-animation: AnimationName 22s ease infinite;
animation: AnimationName 22s ease infinite;

@-webkit-keyframes AnimationName {
    0%{background-position:9% 0%}
    50%{background-position:92% 100%}
    100%{background-position:9% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:9% 0%}
    50%{background-position:92% 100%}
    100%{background-position:9% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:9% 0%}
    50%{background-position:92% 100%}
    100%{background-position:9% 0%}
}
@keyframes AnimationName {
    0%{background-position:9% 0%}
    50%{background-position:92% 100%}
    100%{background-position:9% 0%}
}
}

.wrapper {
  margin: 1em;
  justify-content: flex-start | flex-end | center | space-between | space-around;
}

h1 {
 /* text-align: center;*/
  font-weight: 400;
  margin: 0.5em 0 0.5em 0.5em;
  color: #ff5c33;
  clear: none;
  display: inline;
}

/*Navigation Bar*/
li {
  list-style: none;
  margin: 0.02em;
  display: inline;
  font-size: 1em;
}

a {
    text-decoration: none;
    color: #ff704d;
    transition: 0.6s ease;
    display: inline-block;
    padding: 0.2em 0.5em 0.2em 0.5em;
    border-radius: 3px;

}

a:hover {
  background-color: #ff704d;
  color: #f2f2f2;
  box-shadow: inset 0px 0px 4px #cc2900;
}

ul {
  padding-left: 0;
 /* text-align: center;*/
 display: inline;
}

nav {
  text-align: right;
  float: right;
  margin-top: 1em;

}
/*Navigation Bar End*/


img {
  max-width: 200px;
  margin: 10px;
  transition: 2s ease;
}

/*vomit/gallery*/

.gallery {
  max-width: 700px;
  margin: auto;
  margin-top: 2em;
  text-align: center;
  fill: #000;
}

.galleryitem:hover {
    -ms-transform: rotate(4deg); /* IE 9 */
    -webkit-transform: rotate(4deg); /* Chrome, Safari, Opera */
    transform: rotate(4deg);
}

.center {
  text-align: center;
}


.circle {
  transition: 0.4s ease;
}

.circle:hover {
  box-shadow: 0px 0px 4px #000;
  fill: #f2f2f2;
}

.card {
  transition: all 200ms ease-in-out;
  position: relative;
}


.card:hover {
  /*transform: rotate(720deg);*/
  transform: scale(.9);
  z-index: 1000;
 /* box-shadow: 1px 1px 20px rgba(0, 0, 0, .3);*/

}

/*.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  position: absolute;
  left: 33%;
  bottom: 20px;
}*/

.rectangle {
  background-color: #fff;
  width: 5.2em;
  height: 5.2em;
  display: inline-block;
  margin: auto;
}


.effect {
  opacity: 0.2;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .9);
}

.effect:hover {
  background-color: #fff;
  opacity: 0;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, .2);
}

.special {
  background-color: #fff;
}

.special:hover {
  background-color: #ff704d;
  opacity: 1;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, .2)
}

@media only screen and (min-width: 38em) {

  li {
    margin: 0.05em;
  }
}


